{% extends "base.html" %}
{% block content %}
    <!-- About-->
    <section class="about-section text-center" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-white mb-4">{{ section.extra.about.title }}</h2>
                    <p class="text-white-50">{{ section.extra.about.description }}</p>
                </div>
            </div>
            {% if section.extra.about.enable_image %}
            <img class="img-fluid" src="{{ section.extra.about.image }}" alt="..." />
            {% endif %}
        </div>
    </section>
    <!-- Projects-->
    <section class="projects-section bg-light" id="projects">
        <div class="container px-4 px-lg-5">
            <!-- Project 1 -->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <i class="fas {{ section.extra.projects.card1.image }} fa-10x mb-2" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">{{ section.extra.projects.card1.title }}</h4>
                                <p class="mb-0 text-white-50">{{ section.extra.projects.card1.text }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project 2 -->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <i class="fas {{ section.extra.projects.card2.image }} fa-10x mb-2" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">{{ section.extra.projects.card2.title }}</h4>
                                <p class="mb-0 text-white-50">{{ section.extra.projects.card2.text }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project 3 -->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <i class="fas {{ section.extra.projects.card3.image }} fa-10x mb-2" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">{{ section.extra.projects.card3.title }}</h4>
                                <p class="mb-0 text-white-50">{{ section.extra.projects.card3.text }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
